<nav>
  <div class="nav-wrapper">
    <a href="/todos" class="brand-logo center">To Do App</a>
    <ul>
      <li><a href="/todos">Tarefas</a></li>
      <li><a href="/todos/completed">Concluídas</a></li>
      <li class="right"><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
